/*DECLARATION FONT*/
@font-face{     
    font-family: "Montserrat";     
    src: url('Montserrat-Regular.ttf'); 
}



/*SUPPRESSION BARRE BLANCHES*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/*HTML*/
html{
    height: 100%;
}


/*DIV header*/
.header {
    padding: 2.01%;
    background: black;
    color: black;
    font-size: 250%;
    font-family: 'Montserrat';
}
.header h1{
    text-align: center;
    color: white;
}
.header p{
    text-align: center;
}


/*BODY*/
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}


/*DIV texte-1, texte-2 ET texte-3*/
.texte-1, .texte-2, .texte-3 {
    font-family: 'Montserrat';
    color: black;
    display: block;
    text-align: center;
}

.texte-1 h2, .texte-2 h2, .texte-3 h2{
    text-decoration: underline;
    font-size: 250%;
}

.texte-1 p{
    font-size: 200%;
    font-weight: bolder;
}

.texte-1{
    padding: 5%;
}


/*DIV cursus-scolaire*/
.cursus-scolaire{
    font-family: 'Montserrat';
    color: black;
    display: block;
    text-align: center;
    padding-bottom: 2%;
}

.cursus-scolaire h2{
    text-decoration: underline;
    font-size: 250%;
}


/*DIV school ET professionnal*/
.school, .professionnal{                     
    font-family: 'Montserrat';
    color: black;
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    font-size: 150%;
    padding: 3%;
}

.school a, .professionnal a{
    text-decoration: none;
}


/*CARTE LSA ET SDE18*/
.LSA a, .SDE18 a{
    text-decoration: none;
    color: white;

}

.LSA p, .SDE18 p {
    font-style: italic;
    text-decoration: underline;
}

.SDE18 {
    background-color: transparent;
    width: 512px;;
    height: 256px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 75%;
}
.LSA {
    background-color: transparent;
    width: 512px;;
    height: 256px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 65%;
}

.LSA-interne, .SDE18-interne  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.LSA:hover .LSA-interne, .SDE18:hover .SDE18-interne {
    transform: rotateY(180deg);
}

.LSA-facade, .SDE18-facade, .LSA-arriere, .SDE18-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.LSA-facade, .SDE18-facade {
    background-color: #fff;
    color: black;
}

.LSA-arriere, .SDE18-arriere {
    background-color: black;
    color: white;
    font-size: 150%;
    transform: rotateY(180deg);
}


/*NAVBAR*/
.navbar{
    font-family: 'Montserrat';
    color: black;
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;

}

.navbar a{
    text-decoration: none;
}


/*CARTE NAVBAR*/
.home, .profile,  .skills,  .techno-watching {
    background-color: transparent;
    width: 256px;
    height: 256px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 140%;
    
}

.home-interne, .profile-interne,  .skills-interne,  .techno-watching-interne  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.home:hover .home-interne, .profile:hover .profile-interne, .skills:hover .skills-interne , .techno-watching:hover .techno-watching-interne {
    transform: rotateY(180deg);
}

.home-facade, .profile-facade,  .skills-facade, .techno-watching-facade, .home-arriere, .profile-arriere, .cursus-arriere, .skills-arriere, .techno-watching-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.home-facade, .profile-facade, .skills-facade, .techno-watching-facade {
    background-color: #fff;
    color: black;
}

.home-arriere, .profile-arriere, .skills-arriere, .techno-watching-arriere {
    background-color: black;
    color: white;
    font-size: 150%;
    font-weight: bold;
    transform: rotateY(180deg);
}                    


/*FOOTER*/
.footer {
    position: sticky;
    width:100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

.footer-content-center{
    display: flex;
    padding: 0;
    justify-content: center;
}


/*CARTE FOOTER*/
.github:hover, .twitter:hover, .instagram:hover, .linkedin:hover {
    background-color:lightgray;
}
