/*DECLARATION FONT*/
@font-face{     
    font-family: "Montserrat";     
    src: url('Montserrat-Regular.ttf'); 
}


/*SUPPRESSION BARRE BLANCHES*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/*HTML*/
html{
    height: 100%;
}


/*DIV header*/
.header {
    padding: 2.01%;
    background: black;
    color: black;
    font-size: 250%;
    font-family: 'Montserrat';
}
.header h1{
    text-align: center;
    color: white;
}
.header p{
    text-align: center;
}


/*BODY*/
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

h2{
    font-family: 'Montserrat';
    color: black;
    padding-bottom: 2%;
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
}


/*DIV texte, texte-PPE, texte-SitPro et texte-Tab */
.texte {
    font-family: 'Montserrat';
    color: black;
    padding: 5%;
    display: block;
    text-align: center;
}

.texte h2{
    text-decoration: underline;
    font-size: 250%;
}

.texte p{
    font-size: 200%;
    font-weight: bolder;
}

.texte-PPE, .texte-SitPro {
    font-family: 'Montserrat';
    color: black;
    padding-bottom: 2%;
    display: block;
    text-align: center;
}

.texte-PPE h2, .texte-SitPro h2{
    text-decoration: underline;
    font-size: 225%;
}



/*DIV AP-A à AP-C ET SitPro*/
.AP-A, .AP-B, .AP-C, .SitPro {
    font-family: 'Montserrat';
    color: black;
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
.AP-A h2, .AP-B h2, .AP-C h2, .SitPro h2 {
    text-align: center;
}


.AP-A a, .AP-B a, .AP-C a, .SitPro a {
    text-decoration: none;
}

.AP-A img, .AP-B img, .AP-C img, .SitPro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/*CARTE AP1 à AP6 ET SitPro1 à SitPro6 */
.AP1 a, .AP2 a, .AP3 a, .AP4 a, .AP5 a, .AP6 a, .SitPro1 a, .SitPro2 a, .SitPro3 a, .SitPro4 a, .SitPro5 a, .SitPro6 a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

.AP1 , .AP2 , .AP3 , .AP4, .AP5, .AP6, .SitPro1, .SitPro2, .SitPro3, .SitPro4, .SitPro5, .SitPro6 {
    background-color: transparent;
    width: 288px;
    height: 288px;
    perspective: 1000px;
    font-family: 'Montserrat';
    padding-right: 2%;
    padding-bottom: 5%;

}



/*NAVBAR*/
.navbar{
    font-family: 'Montserrat';
    color: black;
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.navbar a{
    text-decoration: none;
}

/*CARTE NAVBAR*/
.home, .profile, .cursus, .techno-watching {
    background-color: transparent;
    width: 256px;
    height: 256px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 140%;
}

.home-interne, .profile-interne, .cursus-interne, .techno-watching-interne  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.home:hover .home-interne, .profile:hover .profile-interne,  .cursus:hover .cursus-interne , .techno-watching:hover .techno-watching-interne {
    transform: rotateY(180deg);
}

.home-facade, .profile-facade, .cursus-facade, .techno-watching-facade, .home-arriere, .profile-arriere, .cursus-arriere, .techno-watching-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.home-facade, .profile-facade, .cursus-facade, .techno-watching-facade {
    background-color: #fff;
    color: black;
}

.home-arriere, .profile-arriere, .cursus-arriere, .techno-watching-arriere {
    background-color: black;
    color: white;
    font-size: 150%;
    font-weight: bold;
    transform: rotateY(180deg);
}                    


/*FOOTER*/
.footer {
    position: sticky;
    width:100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

.footer-content-center{
    display: flex;
    padding: 0;
    justify-content: center;
}


/*CARTE FOOTER*/
.github:hover, .twitter:hover, .instagram:hover, .linkedin:hover {
    background-color:lightgray;
}
