/*DECLARATION FONT*/
@font-face{     
    font-family: "Montserrat";     
    src: url('Montserrat-Regular.ttf'); 
}

    

/*SUPPRESSION BARRE BLANCHES*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/*HTML*/
html{
    height: 100%;
}


/*DIV header*/
.header {
    padding: 2.01%;
    background: black;
    color: black;
    font-size: 250%;
    font-family: 'Montserrat';
}
.header h1{
    text-align: center;
    color: white;
}
.header p{
    text-align: center;
}


/*BODY*/
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}


/*DIV texte*/
.texte, .project {
    font-family: 'Montserrat';
    color: black;
    display: block;
    text-align: center;
}
.texte{
    padding: 5%;
}

.texte h2, .project h2{
    text-decoration: underline;
    font-size: 250%;
}
.texte p, .project p{
    font-size: 200%;
    font-weight: bolder;
}


/*SECTION PDF*/
.pdf{
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center; 
}


/*PDF-NAVBAR*/
.pdf-navbar{
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center; 
    padding-bottom: 2%   
}


/*CARTE PDF-NAVBAR*/
.pdf-viewing, .pdf-dl {
    background-color: transparent;
    width: 64px;
    height: 64px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 25%;

}

.pdf-viewing-interne, .pdf-dl-interne  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pdf-viewing:hover .pdf-viewing-interne, .pdf-dl:hover .pdf-dl-interne {
    transform: rotateY(180deg);
}

.pdf-viewing-facade, .pdf-dl-facade, .pdf-viewing-arriere, .pdf-dl-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.pdf-viewing-facade, .pdf-dl-facade {
    background-color: #fff;
    color: black;
}

.pdf-viewing-arriere, .pdf-dl-arriere {
    background-color: black;
    color: white;
    font-size: 100%;
    font-weight: bold;
    transform: rotateY(180deg);
}

.pdf-viewing a, .pdf-dl a{
    text-decoration: none;
}


/*NAVBAR*/
.navbar{
    font-family: 'Montserrat';
    color: black;
    float: none;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;

}
.navbar a{
    text-decoration: none;
}

/*CARTE NAVBAR*/
.home, .cursus, .skills, .techno-watching {
    background-color: transparent;
    width: 256px;
    height: 256px;
    perspective: 1000px;
    font-family: 'Montserrat';
    font-size: 140%;

}

.home-interne, .cursus-interne, .skills-interne, .techno-watching-interne  {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.home:hover .home-interne, .cursus:hover .cursus-interne , .skills:hover .skills-interne , .techno-watching:hover .techno-watching-interne {
    transform: rotateY(180deg);
}

.home-facade, .cursus-facade, .skills-facade, .techno-watching-facade, .home-arriere, .cursus-arriere, .skills-arriere, .techno-watching-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.home-facade, .cursus-facade, .skills-facade, .techno-watching-facade {
    background-color: #fff;
    color: black;
}

.home-arriere, .cursus-arriere, .skills-arriere, .techno-watching-arriere {
    background-color: black;
    color: white;
    font-size: 150%;
    font-weight: bold;
    transform: rotateY(180deg);
}                    


/*FOOTER*/
.footer {
    position: sticky;
    width:100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

.footer-content-center{
    display: flex;
    padding: 0;
    justify-content: center;
}


/*CARTE FOOTER*/
.github:hover, .twitter:hover, .instagram:hover, .linkedin:hover {
    background-color:lightgray;
}
